body{
    background-image: url("./train\ image.jpg")
}

.container{
    width:960px;
    background-color:#B4A1A5;
    margin:0 auto;   
}
.containersub{
    width:750px;
    padding-bottom: 10px;
    margin:0 auto;   
}
.jumbotron{
    background-color:#A31621;
    color: black;

}
.alert-heading, .mb-0{
    font: bold;
    font-size: 40px;
    font-style: inherit;
}
 .mb-0{
    font: bold;
    font-size: 25px;
}
.trainInput, .trainInfo, #main-title{
    border: 2px solid #A31621;
}
#add-train-btn{
    background-color:#A31621;
    color: black;

}

 